
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- //main-slider -->
<!--/bottom-3-grids-->
<section class="w3l-main-slider banner-slider position-relative" id="home">
    <div class="owl-one owl-carousel owl-theme">
        <div class="item">
            <div class="slider-info banner-view banner-top1">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <h5>Distribución y Venta de Licores</h5>
                        <h3 class="title-hero-19">Brindemos por los Buenos Momentos</h3>
                        <a href="about.html" class="btn btn-style btn-banner mt-sm-5 mt-4">Saber Más <i class="fas fa-arrow-right ms-lg-4 ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="w3l-3-grids py-5" id="grids-3">
    <div class="container py-md-5 py-2">
        <!--/row-1-->
        <div class="row mb-5 pb-lg-4">
            <div class="col-lg-4 pe-lg-4">
                <div class="title-content text-left">
                    <h6 class="title-subw3hny mb-1">Sobre nosotros</h6>
                    <h3 class="title-w3l">Los mejores licores y garantizados </h3>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-md-5 mt-4 ps-lg-4">
                <p class="">
                    En “Licores La Maruchenga”, somos una empresa familiar dedicada a ofrecer una amplia selección de licores de alta calidad.
                    Nuestro negocio se ha convertido en un punto de encuentro para los amantes de las bebidas espirituosas. Nuestro negocio no solo se trata de vender bebidas, 
                    sino de crear un espacio donde las personas puedan descubrir nuevos sabores, compartir historias y disfrutar de momentos especiales.
                </p>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-md-5 mt-4 ps-lg-4">
                <p class="">
                    Desde cervezas de diferentes marcas, rones y aguardientes, en “Licores La Maruchenga” nos enorgullecemos de ofrecer 
                    productos que satisfacen todos los gustos y ocasiones. Nuestro compromiso es brindar una experiencia de compra única, 
                    con una atención excepcional y un ambiente acogedor que te hará sentir como en casa.
                </p>
            </div>
        </div>
        <!--//row-1-->
        @*<div class="row pt-md-0 pt-5">
            <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4 px-lg-0">
                <div class="grids3-info position-relative">
                    <a href="#" class="d-block zoom"><img src="assets/images/g1.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info">
                        <h6><a href="#category" class="category d-block">01</a></h6>
                        <h4 class="gdnhy-1">
                            <a href="#">Your Business Consulting</a>
                            <a class="w3item-link" href="#">
                                <i class="fas fa-arrow-right ms-lg-4"></i>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4 px-lg-0 grids3-info2">
                <div class="grids3-info second position-relative">
                    <a href="#" class="d-block zoom"><img src="assets/images/g2.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info second">
                        <h6><a href="#category" class="category d-block">02</a></h6>
                        <h4 class="gdnhy-1">
                            <a href="#">Financial Audit Services</a>
                            <a class="w3item-link" href="#">
                                <i class="fas fa-arrow-right ms-lg-4"></i>
                            </a>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 px-lg-0">
                <div class="grids3-info position-relative">
                    <a href="#" class="d-block zoom"><img src="assets/images/g6.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info">
                        <h6><a href="#category" class="category d-block">03</a></h6>

                        <h4 class="gdnhy-1">
                            <a href="#">Development Strategies</a>
                            <a class="w3item-link" href="#">
                                <i class="fas fa-arrow-right ms-lg-4"></i>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<!--//bottom-3-grids-->
<!--/features-section -->
<section class="w3l-features py-5" id="work">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-md-5 mb-4">
            <h6 class="title-subw3hny mb-1">Carta de Precios</h6>
            <h3 class="title-w3l mb-5">
                Esta es nuestra carta de precios donde encontrarás productos variados.
            </h3>
        </div>
        <div class="main-cont-wthree-2 align-items-center text-center pt-lg-4">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <img src="~/images/ron.png" alt="Ron" />
                        </div>
                        <h4 class="title-head mb-3">Ron</h4>
                        <p class="text-para">


                            <table class="table">
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                </tr>
                                <tr>
                                    <td>1/2 de Ron Viejo de Caldas</td>
                                    <td>$45.000</td>
                                </tr>
                                <tr>
                                    <td>Litro de Ron Viejo de Caldas</td>
                                    <td>$55.000</td>
                                </tr>
                                <tr>
                                    <td>Litro de Ron Viejo de Caldas</td>
                                    <td>$55.000</td>
                                </tr>
                                <tr>
                                    <td>Litro de Ron Viejo de Caldas</td>
                                    <td>$55.000</td>
                                </tr>
                                <tr>
                                    <td>Litro de Ron Viejo de Caldas</td>
                                    <td>$55.000</td>
                                </tr>
                                <tr>
                                    <td>Litro de Ron Viejo de Caldas</td>
                                    <td>$55.000</td>
                                </tr>
                                <tr>
                                    <td>Litro de Ron Viejo de Caldas</td>
                                    <td>$55.000</td>
                                </tr>
                            </table>
                        

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <img src="~/images/aguardiente.png" alt="Aguardiente" />
                        </div>
                        <h4 class="title-head mb-3">Aguardiente</h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <img src="~/images/cerveza_aguila.png" alt="Cerveza" class="img-beer" />
                        </div>
                        <h4 class="title-head mb-3">Cerveza</h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features section -->
<!--/w3l-midslider-->
<section class="w3l-midslider py-5" id="midslider">
    <!-- /grids -->
    <div class="container py-md-5">
        <div class="row">
            <div class="col-lg-7 stats_info-images pe-lg-5">
                <div class="stats_info-images-right row">
                    <div class="col-6 mid-slider-content">
                        <img src="assets/images/ab1.jpg" class="img-fluid radius-image" alt="">
                    </div>
                    <div class="col-6 mid-slider-content">
                        <img src="~/images/ab2.jpg" class="img-fluid radius-image" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 title-content text-left ps-lg-1 mt-lg-0 mt-5">
                <h6 class="title-subw3hny mb-1">¿Por qué nosotros?</h6>
                <h3 class="title-w3l mb-3">
                    Licorera La Maruchenga
                </h3>
                <p class="mb-3">
                    Ofrecemos nuestros servicios de calidad con productos totalmente garantizados
                </p>
                <ul class="icon-list-items mt-3">
                    <li class="icon-list-item">
                        <i aria-hidden="true" class="fas fa-check"></i>
                        Servicio las 24 horas del día
                    </li>
                    <li class="icon-list-item mt-2">
                        <i aria-hidden="true" class="fas fa-check"></i>
                        Precios económicos
                    </li>
                    <li class="icon-list-item mt-2">
                        <i aria-hidden="true" class="fas fa-check"></i>
                        Excelente servicio
                    </li>
                </ul>
            </div>
            <!--/grids -->
        </div>
        <!--/grids -->
    </div>
</section>
<!--//w3l-midslider-->
<!--/home-page-video-popup-->
<!--<section class="w3l-video-sec" id="video">
    <div class="container">
        <div class="w3l-index5 py-5" id="video">
            <div class="history-info align-self text-center py-5 my-lg-5">
                <div class="position-relative py-5 my-lg-5">
                    <a href="#video" class="popup-with-zoom-anim play-view text-center position-absolute">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                    </a>-->
                    <!-- dialog itself, mfp-hide class is required to make dialog hidden --
                    <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                        <iframe src="https://player.vimeo.com/video/124801644" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                     <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <!--</div>
            </div>
        </div>
    </div>
</section>-->
<!-- //home-page-video-popup-->
<!--/w3l-blog-->
@*<section class="w3l-blog">
    <div class="bloghome py-5" id="Newsblog">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="w3title-header text-center">
                <h6 class="title-subw3hny">Articles</h6>
                <h3 class="title-w3l mb-5">
                    Stay up to date with
                    our fresh news
                </h3>
            </div>
            <div class="row w3l-blogpost-content">
                <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/g3.jpg" alt="blog-img">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                                <p>News</p>
                            </div>
                            <a href="#blog-single" class="blog-desc">
                                How to Win The Customers` Appreciation & Loyalty
                            </a>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                    <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                    </li>
                                </ul>
                                <div class="date">
                                    <p>20 July, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/g5.jpg" alt="blog-img">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                                <p>News</p>
                            </div>
                            <a href="#blog-single" class="blog-desc">
                                Targeted Marketing for Business School Students
                            </a>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                    <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                    </li>
                                </ul>
                                <div class="date">
                                    <p>25 July, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/g4.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                                <p>News</p>
                            </div>
                            <a href="#blog-single" class="blog-desc">
                                What You Must Know Making Investments Today
                            </a>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                    <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">by</span><a href="#author"> David Nelson</a>
                                    </li>
                                </ul>
                                <div class="date">
                                    <p>28 July, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--//w3l-blog-->
<!-- testimonials section -->
<section class="w3l-clients w3l-test py-5" id="testimonials">
    <div class="container py-lg-5 py-md-4 pt-2 pb-5">
        <div class="row w3test-grids p-5">
            <div class="col-lg-4 testimonials-con-left-info py-sm-5 pt-0 py-3">
                <div class="title-content text-left p-xl-3">
                    <h6 class="title-subw3hny">Reseñas</h6>
                    <h3 class="title-w3l two">¿Qué dicen nuestros clientes?</h3>
                    @*<p class="test-p mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel.
                    </p>*@
                </div>
            </div>
            <div class="col-lg-8 testimonials-con-right mt-lg-0 mt-3 p-xl-3 pb-4">
                <div id="owl-demo2" class="owl-carousel owl-theme py-sm-5 pt-0 py-3 row">
                    <div class="col-md-6 item">
                        <div class="testimonial-content">
                            <div class="testimonial">

                                <p>
                                    <i class="fas fa-quote-left me-2"></i> Excelente servicio y buena disposición, los precios son
                                    muy económicos.
                                </p>
                            </div>
                            <div class="bottom-info mt-4">
                                <a class="comment-img" href="#url"><img src="images/team1.jpg" class="img-fluid radius-image" alt="placeholder image"></a>
                                <div class="people-info align-self">
                                    <h3>Sneyder Hoyos</h3>
                                    <p class="identity">Bello, Antioquia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <p>
                                    <i class="fas fa-quote-left me-2"></i> Realmente es bastante sencillo de llegar, son gente muy amable y 
                                    me atendieron en altas horas de la noche. 100% recomendado.
                                </p>
                            </div>
                            <div class="bottom-info mt-4">
                                <a class="comment-img" href="#url"><img src="images/team2.jpg" class="img-fluid radius-image" alt="placeholder image"></a>
                                <div class="people-info align-self">
                                    <h3>Yuly Londoño</h3>
                                    <p class="identity">Bello, Antioquia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/theme-change.js"></script>

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

</script>
<!-- //MENU-JS -->
