
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title">
                        Services
                    </h2>
                    <p class="inner-page-para mt-2">
                        The Unique Solutions
                        for Your Business
                    </p>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Services</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<!--//inner-page-->
<!--/w3l-services-1-->
<div class="w3l-services-1 py-5" id="grids-3">
    <div class="container py-md-5 py-2">
        <!--/row-1-->
        <div class="row mb-5 pb-lg-4">
            <div class="col-lg-6 p5-lg-4 services-1-left">
                <img src="~/images/g8.jpg" alt="" class="img-fluid radius-image">
            </div>

            <div class="services-1-right col-lg-6 mt-lg-0 mt-md-5 mt-4 ps-lg-5">
                <div class="title-content text-left">
                    <h6 class="title-subw3hny mb-1">Services Info</h6>
                    <h3 class="title-w3l mb-3">The best solutions for your business </h3>
                </div>
                <p class="">
                    Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                    elit ipsum dolor.Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel tesque libero ut justo.
                </p>
                <a href="#services" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More <i class="fas fa-arrow-right ms-lg-4 ms-2"></i></a>
            </div>
        </div>
        <!--//row-1-->

    </div>
</div>
<!--//w3l-services-1-->
<section class="w3l-services-2" id="services1">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="serve-title-header text-left">
                <h6 class="title-subw3hny mb-1">What We Offer</h6>
                <h3 class="title-w3l mb-3">We improve your online presence.</h3>
                <p class="pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="grids-of-5 row mt-5 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom"><img src="~/images/g2.jpg" alt="" class="img-fluid radius-image"></a>
                        <div class="blog-info">
                            <h4><a href="#service">Optimization</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom"><img src="~/images/g4.jpg" alt="" class="img-fluid radius-image"></a>
                        <div class="blog-info">
                            <h4><a href="#service">Branding</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom"><img src="~/images/g6.jpg" alt="" class="img-fluid radius-image"></a>
                        <div class="blog-info">
                            <h4>
                                <a href="#service">
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /w3l-skills-->
<!--/w3-grids-3-->
<section class="w3l-services-6 py-5" id="services">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-services text-center">
            <h6 class="title-subw3hny mb-1">Services Info</h6>
            <h3 class="title-w3l mb-3">Featured Services </h3>
        </div>
        <div class="grids-area-hny main-cont-wthree-fea row pt-3 mt-5">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <div class="area-icon icon-red">
                        <span class="fas fa-paint-brush"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Web Design</a></h4>
                    <p>Lorem ipsum dolor sit amet elit. Velit beatae amet. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <div class="area-icon icon-green">
                        <span class="fas fa-podcast"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Brand Building</a></h4>
                    <p>Lorem ipsum dolor sit amet elit. Velit beatae amet. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <div class="area-icon icon-blue">
                        <span class="fas fa-laptop"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">App Dev</a></h4>
                    <p>Lorem ipsum dolor sit amet elit. Velit beatae amet. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <div class="area-icon icon-yellow">
                        <span class="far fa-edit"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Clean Code</a></h4>
                    <p>Lorem ipsum dolor sit amet elit. Velit beatae amet. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <div class="area-icon icon-purple">
                        <span class="fas fa-mobile-alt"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Mobile apps</a></h4>
                    <p>Lorem ipsum dolor sit amet elit. Velit beatae amet. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <div class="area-icon icon-orange">
                        <span class="fas fa-american-sign-language-interpreting"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Retina Ready</a></h4>
                    <p>Lorem ipsum dolor sit amet elit. Velit beatae amet. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3-grids-3-->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- MENU-JS -->
<script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

</script>
<!-- //MENU-JS -->
